<mat-toolbar color="primary">
  <!-- <a type="button" mat-mini-fab (click)="sidenav.open()">
      <span class="fa fa-bars fa-lg"></span>
  </a> -->
<span>&nbsp;QA System</span>
<span class="flex-spacer"></span>
    <!-- <a mat-button routerLink="/login"><span class="fa fa-sign-out fa-lg"></span> Logout</a>  -->
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item routerLink="/login">
    <mat-icon>input</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

</mat-toolbar>

<div class="container" fxLayout="column">
  <mat-card>
    <mat-card-title><h2 align="center">Profile</h2></mat-card-title>
    <mat-card-content *ngIf="user">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="example-headers-align">
            <mat-panel-title>
              Username
            </mat-panel-title>
            <mat-panel-description class="mat-expansion-panel-header-description">
              {{user.username}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form #usernameForm="ngForm" novalidate (ngSubmit)="onSubmitUsername()">
            <mat-input-container dividerColor="{{(usernameError) ? 'warn' : 'primary'}}">
              <input matInput type="text" [(ngModel)]="Username" name="username" placeholder="Change username" minlength="2" maxlength="20">
              <mat-hint>
                <span>{{usernameErrorName}}</span>
              </mat-hint>
            </mat-input-container>
            <button mat-button class="background-primary text-floral-white" type="submit" [disabled]="!usernameForm.valid">
              <span class="fa fa-floppy-o fa-lg"></span> Save
            </button>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="example-headers-align">
            <mat-panel-title>
              Email Id
            </mat-panel-title>
            <mat-panel-description class="mat-expansion-panel-header-description">
              {{user.email_id}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form #emailIdForm="ngForm" novalidate (ngSubmit)="onSubmitEmailId()">
            <mat-input-container dividerColor="{{(emailidError) ? 'warn' : 'primary'}}">
              <input matInput type="email" [(ngModel)]="EmailId" name="email_id" placeholder="Change email id" email>
            </mat-input-container>
            <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!emailIdForm.valid">
              <span class="fa fa-floppy-o fa-lg"></span> Save
            </button>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="example-headers-align">
            <mat-panel-title>
              Contact Number
            </mat-panel-title>
            <mat-panel-description class="mat-expansion-panel-header-description"> 
              {{user.mobile_no}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form #contactnoForm="ngForm" novalidate (ngSubmit)="onSubmitContactno()">
            <mat-input-container dividerColor="{{(contactnoError) ? 'warn' : 'primary'}}">
              <input matInput type="tel" [(ngModel)]="Contactno" name="mobile_no" placeholder="Change Contact number" minlength="10" maxlength="10" pattern="[0-9]*">
            </mat-input-container>
            <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!contactnoForm.valid">
              <span class="fa fa-floppy-o fa-lg"></span> Save
            </button>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="example-headers-align">
            <mat-panel-title>
              Change Password
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form #passwordForm="ngForm" novalidate (ngSubmit)="onSubmitPassword()">
            <mat-input-container dividerColor="{{(passwordError) ? 'warn' : 'primary'}}">
              <input matInput type="password" [(ngModel)]="NewPassword" name="new_password" placeholder="Enter new password" minlength="6" maxlength="20">
            </mat-input-container>
            <br>
            <mat-input-container>
              <input matInput type="password" [(ngModel)]="ConfirmPassword" name="confirm_password" placeholder="Re-enter new password">
            </mat-input-container>
            <br>
            <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!passwordForm.valid">
              <span class="fa fa-floppy-o fa-lg"></span> Save
            </button>
          </form>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
  </mat-card>
  

</div>

