<mat-toolbar color="primary">
  <!-- <a type="button" mat-mini-fab (click)="sidenav.open()">
      <span class="fa fa-bars fa-lg"></span>
  </a> -->
<span>&nbsp;QA System</span>
<span class="flex-spacer"></span>
    <!-- <a mat-button routerLink="/login"><span class="fa fa-sign-out fa-lg"></span> Logout</a>  -->
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item routerLink="/login">
    <mat-icon>input</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

</mat-toolbar>

<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="/employee-dashboard">Dashboard</a> -->
  <a class="breadcrumb-item" routerLink="/employee-dashboard">Dashboard</a>
  <span class="breadcrumb-item active">Test</span>
</nav>

<div class="container" fxLayout="column" fxLayoutAlign="space-around top">
  <div fxFlex style="align-self: center" *ngIf="test === false">
    <mat-form-field>
      <mat-select [(value)]="selectedValue" placeholder="Select questionset name" name="name">
        <mat-option *ngFor="let name of name" [value]="name.value">
          {{name.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" class="background-primary text-floral-white" (click)="onSubmit()">
      Submit
    </button>
  </div>

  <div fxFlex *ngIf="qset">
    <mat-card>
      <mat-card-title style="text-align: center">Test name: {{qset[0].name}}</mat-card-title>
      <mat-card-content>
        <div fxLayout.gt-md="column" fxLayout.xs="column">
          <div fxLayout.gt-md="row" fxLayout.xs="column" *ngIf="test === false">
            <div fxFlex>
              <p>Duration: {{qset[0].test_duration}} mins</p>
            </div>
            <span fxFlex flex-spacer></span>
            <div fxFlex>
              <p>Marks: {{sum}}</p>
            </div>
          </div>
          <div fxLayout.gt-md="row" fxLayout.xs="column" fxLayoutGap="5px">
            <div  fxLayoutAlign="center">
              <button mat-raised-button type="link" class="background-primary text-floral-white" (click)="onStart()">
                Start test
              </button>
              &nbsp;
              <button mat-raised-button class="background-primary text-floral-white" (click)="onStop()" *ngIf="test === true">
                Stop test
              </button>
            </div>
          </div>
          <div *ngIf="mode === 'test'">
            <h2 style="display: inline">Test Name: {{qset[0].name}}</h2>
              <!-- <span class="flex-spacer"></span> -->
              &nbsp;&nbsp;
              <!-- <h2 style="display: inline">Time: </h2><h2 style="display: inline" id="demo"></h2> -->
            <h2 style="display: inline" align="right">Time: {{timer}}</h2>
            <mat-table #table [dataSource]="dataSource" matSort>
              
              <!-- question column -->
              <ng-container matColumnDef="name">
                <mat-header-cell class="tableheader" *matHeaderCellDef mat-sort-header>
                  <h2>Questions</h2>
                </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let questions; ">
                  <h4>{{questions.name}}</h4> 
                  <!-- <mat-list style="margin-left: 30px"><ol>
                    <div *ngFor="let option of questions.options">
                      <mat-list-item>
                        <li>{{option.name}}</li> 
                      </mat-list-item>
                    </div>
                    </ol>
                  </mat-list> -->
                  <mat-radio-group class="example-radio-group" >
                    <mat-radio-button class="example-radio-button" [checked]="option.isSelected" *ngFor="let option of questions.options" [value]="option.name" (click)="onSelectionChange(questions, option)">
                      {{option.name}}
                    </mat-radio-button>
                  </mat-radio-group>
                    
                </mat-cell>
                
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[1, 2, 5, 10]" [length]="length">
            </mat-paginator>
          </div>
          <!-- After submiting test -->
          <div fxFlex *ngIf="mode === 'result'">
            <h2>Test Results</h2>
            <div fxLayout="column" *ngFor="let question of qset[0].questions; ">
              <h4>{{question.name}}</h4>
              <mat-radio-group class="example-radio-group" [disabled]="disabled" >
                  <mat-radio-button class="example-radio-button" [checked]="option.isSelected" *ngFor="let option of question.options" [value]="option.name" (change)="onSelectionChange(question, option)">
                    {{option.name}}
                  </mat-radio-button>
                </mat-radio-group>
                <div class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>

            </div>
            <h4 class="alert alert-info text-sm-center">You may close this window now.</h4>
            <!-- <mat-table #table [dataSource]="dataSource">
              
              <ng-container matColumnDef="name">
                <mat-header-cell class="tableheader" *matHeaderCellDef>
                  <h2 style="display: inline">Test Name: {{qset[0].name}}</h2>
                 
                  &nbsp;&nbsp;
                  <h2 style="display: inline">Time: </h2><h2 style="display: inline" id="demo"></h2>
                </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let questions">
                  <h4>{{questions.name}}</h4> 
                  <mat-radio-group class="example-radio-group" [disabled]="disabled" >
                    <mat-radio-button class="example-radio-button" [checked]="option.isSelected" *ngFor="let option of questions.options" [value]="option.name" (change)="onSelectionChange(questions, option)">
                      {{option.name}}
                    </mat-radio-button>
                  </mat-radio-group>
                  <div class="alert {{ isCorrect(questions) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(questions)}}.</div>
                </mat-cell>
                
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table> -->
           
          </div>
          <div fxLayout="row">
            <button mat-raised-button type="submit" class="background-primary text-floral-white" (click)="onSubmitTest()" *ngIf="(test === true) && (mode === 'test')">
              Submit test
            </button>
            <button mat-raised-button type="submit" class="background-primary text-floral-white" (click)="onClickScoreCard(qset[0]._id)" *ngIf="mode === 'result'">
              Score card
            </button>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>
</div>